* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    min-height: 100vh;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
}

.tombolScroll {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 3%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 999px;
    box-shadow: 0 0 5px #858585;
    cursor: pointer;
	z-index: 100;
}
/* HEADER */

.header {
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 1.3rem 10%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 5px 5px #d9d9d9;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(225, 225, 225, .4), transparent);
    transition: .5s ease;
}

.header:hover::after {
    left: 100%
}


.logo {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.navbar a  {
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .5s ease;
}

.navbar a:hover {
    transition: .5s ease;
    color: #3757E0;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}

/* NAVBAR SELESAI */

.awal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 240px;
}

.awal img {
    width: 400px;
}

.awal h1 span.hey {
    font-weight: 700;
}

.awal p span.underline {
    text-decoration: underline;
}

.awal h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

.awal h1, .awal p {
    color: #26292F;
}

.kiri {
    width: 280px;
    margin-left: 70px;
}

.kiri p {
    margin-top: 8px;
    font-size: 1.2rem;
}

.awal .kiri button {
    margin-top: 25px;
    color: #fff;
    background-color: #3757E0;
    cursor: pointer;
    border: none;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1rem 10%;
    transition: ease 1.3s;
}

.awal .kiri button:hover {
    border: 3px solid #f5f5f5;
    background-color: #fff;
    color: #3757E0;
    transition: ease .7s;
}

.bungkusLink {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.link {
    width: 720px;
    font-family: 'Poppins';
}

.link a {
    margin-left: 30px;
    transition: ease 1.3s;
    color: #333333;
}

.link a:hover {
    color: #3757E0;
    transition: ease .7s;
}

/* ALHAMDULILLAH BAGIAN ATAS SELESAI */

.bungkusAbout {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP';
    width: 700px;
}

.about .kanan {
    margin-left: 25px;
}

.about img {
    height: 350px;
    margin-top: 45px;
}

.about h1 {
    color: #3757E0;
    font-weight: normal;
    font-size: 1.7rem;
}

.about p {
    font-size: .8rem;
    margin-top: 20px;
    color: #26292F;
    line-height: 1.8;
}

/* ABOUT SELESAI */

.judul {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    color: #3757E0;
    margin-top: 170px;
}

/* BACKEND */
.backend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.backend .kanan {
    margin-left: 80px; 
    width:450px;
}

.backend img {
    width: 400px;
}

.backend h1, .backend p {
    font-family: 'Noto Sans JP';
}

.backend h1 {
    font-size: 1.8rem;
}

.backend p {
    font-size: .9rem;
}

.backend p {
    margin-top: 20px;
}

#backend {
    margin-top: 220px;
}

button.work {
    margin-top: 25px;
    color: #fff;
    background-color: #3757E0;
    cursor: pointer;
    border: none;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1.3rem 10%;
    transition: .4s ease;
    border: 2px solid #fff;
}


button.work:hover {
    color: #3757E0;
    background: #fff;
    border: 2px solid #f3f3f3;
    transition: ease .5s;
}

/* BACKEND SELESAI */
.bungkusBantuan {
    display: flex;
    justify-content: center;
}

.bantuan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-top: 120px;
    font-family: 'Noto Sans JP', sans-serif;
}

.bantuan .kiri {
    width: 100%;
}

.bantuan h1 {
    color: #3757E0;
    font-weight: 400;
}

.bantuan button {
    margin-right: 20px;;
    margin-top: 25px;
    width: 170px;
    height: 70px;
    color: #fff;
    background-color: #3757E0;
    cursor: pointer;
    border: none;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: ease 1.3s;
}

.bantuan button:hover {
    background-color: #fff;
    color: #3757E0;
    transition: .7s ease;
    border: 1px solid #858585;
}

.bantuan .kiri p {
    margin-top: 30px;
}

/* BANTUAN SELESAI */

.swiper .swiper-slide .bungkus {
    /* border: thin solid red; */
    padding: 30px;
    border-radius: 5px;
    margin: 10%;
    cursor: default;
}

.bungkus .bayangan {
    box-shadow: 0 0 5px #cccccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    cursor: grab; 
}

.bungkus .bayangan:active {
    cursor: grabbing;
}

.bayangan:hover {
    position: relative;
}

.bayangan .konten {
    display: flex;
}

.konten .fa-solid {
    margin-right: 10px;
}

.swiper {
    width: 765px;
    display: flex;
}

.swiper-slide .bungkus {
    display: flex;
}

.fa-code {
    font-size: 1.5rem;
}

.swiper h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: -10px;
}

.swiper p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9rem;
    color: #404040;
    margin-top: 20px;
    margin-bottom: 40px;
}

.swiper .konten {
    margin-right: 5%;
    margin-top: 10px;
}

.swiper i {
    margin-right: 10px;
}

.ket {
    font-family: 'Noto Sans JP', sans-serif;
    margin-right: 15px;
}

/* FOOTER */
.bungkusFooter {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    width:730px;
    cursor: default;
}

footer .kiri {
    display: flex;
    width: 210px;
    margin-left: 0px;
}

footer .kiri img {
    height: 45px;
    border-radius: 999px;
}

footer .kiri .apaajaDeh h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8rem;
}

footer .kiri .apaajaDeh .konten {
    margin-left: 15px;
}

footer .kiri .apaajaDeh .konten p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .7rem;
}

footer .kanan a {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    font-size: .8rem;
    transition: 1.3s ease;
}

footer .kanan a:hover {
    color: #3757E0;
    transition: .7s ease;
}

/* nyobain test navbar bismillah */
.navbar a:active {
    color: red !important;
}
/* BREAKPOINTS */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%
    }
}

@media (max-width: 768px) {
    .tombolScroll {
        right: 7%;
    }
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;

    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        transition: .3s ease;
        overflow: hidden;
    }
    
    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked~.navbar a{
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }

    /* NAVBAR SELESAI */
    .awal {
        display: flex;
        flex-direction: column;
        margin-top: 240px;
    }

    .awal img {
        width: 300px;
    }

    .kiri {
        width: 340px;
        margin-top: 30px;
        margin-left: 25px;
    }

    .bungkusLink {
        margin-top: 80px;
    }

    .link{
        width: 400px;
    }

    .navbar a:hover {
        color: #000;
    }

    /* BREAKPOINT ABOUT */
    .about {
        flex-direction: column;
    }

    .about .kanan {
        margin: 70px 25px 0 25px
    }

    /* BACKEND */
    .backend {
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    }

    .backend img {
        width: 300px;
    }

    .backend .kanan {
        margin-top: 50px;
        margin-left: 0;
    }

    #frontend {
        width: 500px;
    }

    #backend {
        margin-top: 150px;
    }

    #backend img {
        width: 390px;
    }

    /* BREAKPOINT BANTUAN */
    .bantuan h1 {
        font-size: 1.3rem;
        margin-right: 40px;
    }

    .bantuan p {
        font-size: .9rem;
    }

    .bantuan button {
        margin-top: 25px;
        width: 130px;
        height: 50px;
        color: #fff;
        background-color: #3757E0;
        cursor: pointer;
        border: none;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: ease 1.3s;
    }

    .swiper {
        width: 90%;
        height: 450px;
        margin-left: 5%;
        margin-right: 5%;
    }

    /* BREAKPOINT ABOUT */
    footer{
        height: 100px;
    }

    footer .kanan a.fb {
        display: none;
    }

    footer .kiri {
        margin-top: 0;
    }
}
